<style>
    .ng-table-pager {
        display: none;
    }

    table.ng-table td {
        text-align: left;
        width: 94%;
    }

    a.add-node {
        color: green;
    }
</style>
<div class="alert alert-danger alert-dismissible" role="alert" ng-if="vm.errorMsg">
	<button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true">&times;</span></button>
	<strong>Error loading concepts!</strong> {{vm.errorMsg}}
</div>
<ul class="list-inline" style="display: inline-block">
	<li ng-repeat="item in vm.selectedItems" style="background: #C3D9FF">{{item.displayName}}
		<a title="remove" ng-click="vm.removeNode(item) ">
			<span class="glyphicon glyphicon-remove" title="" style="color:red;"></span>
		</a>
	</li>
</ul>
<uib-tabset active="active">
	<uib-tab index="0" heading="Concepts">
		<div class="text-center" ng-if="!vm.tableParams && !vm.errorMsg">
			<i class="fa fa-refresh fa-spin"></i> Loading...
		</div>
		<ol class="breadcrumb" ng-if="vm.tableParams">
			<li class="breadcrumb-item" ng-repeat="x in vm.breadCrumbs"><a href ng-click="vm.setBreadCrumbs(x)">{{x.displayName + (x.displayName === x.key ? '' : ' (' + x.key + ')')}}</a></li>
		      </ol>
		      <div id="conceptTable" style="max-height: 50vh; overflow-y: auto;">
		<table ng-table="vm.tableParams" class="table" show-filter="true">
			<thead class="hidden"/>
			<tbody>
				<tr ng-repeat="user in $data | orderBy: 'key'" class="animate">
					<td>
						<span ng-if="user.parent === false">
							<i ng-class="{true: 'fa fa-folder-o', false: 'glyphicon glyphicon-file'}[user.parent]" aria-hidden="true"></i> {{user.displayName + (user.displayName === user.key ? '' : ' (' + user.key + ')')}}
						</span>
						<a title="Edit" ng-click="vm.selectNode(user) " ng-if="user.parent===true" style="cursor: pointer;">
							<i ng-class="{true: 'fa fa-folder-o', false: 'glyphicon glyphicon-file'}[user.parent]" aria-hidden="true"></i> {{user.displayName + (user.displayName === user.key ? '' : ' (' + user.key + ')')}}
						</a>
					</td>
					<td>
						<a title="Edit" ng-click="vm.addNode(user) " class="add-node" style="cursor: pointer;">
							<span class="glyphicon glyphicon-plus" title=""></span>
						</a>
					</td>
				</tr>
			</tbody>
		      </table>
		      </div>
	</uib-tab>
	<uib-tab index="1" heading="Phenotypes">
		<div class="text-center" ng-if="!vm.tableParamsUser">
			<i class="fa fa-refresh fa-spin"></i> Loading...
		</div>
		<div id="phenotypesTable" style="max-height: 50vh; overflow-y: auto;">
		<table ng-table="vm.tableParamsUser" class="table" show-filter="true">
			<thead class="hidden"/>
			<tbody>
				<tr ng-repeat="user1 in $data" class="animate">
					<td>
						<span>
							<i class="glyphicon glyphicon-file" aria-hidden="true"></i> {{user1.displayName}}
						</span>
					</td>
					<td>
						<a title="Edit" ng-click="vm.addUserNode(user1) " class="add-node"  style="cursor: pointer;">
							<span class="glyphicon glyphicon-plus" title=""></span>
						</a>
					</td>
				</tr>
			</tbody>
		      </table>
		      </div>
	</uib-tab>
</uib-tabset>